
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}
html,
body {
  width: 101%;
  height: 101%;
  margin: 0px;
  padding: 0px;
}

.links {
  list-style: none;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  color: black;
  width: 100%;
}

.intro-wrapper {
  background: rgb(228, 218, 218);
  width: 100vw;
  height: 100vh;
  color: black;
  padding: 10%;
}

.contact-wrapper {
  background: wheat;
  width: 100vw;
  height: 100vh;
  color: black;
  padding: 10%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: wheat;
  z-index: 1;
}

.start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: wheat;
}

.name {
  font-size: 6rem;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 1s ease;
}

.name.show {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 100vh;
  background: whitesmoke;
}

.portfolio-wrapper>h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}


.contact-wrapper {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}


textarea {
  height: 150px;
}

.item {
  opacity: 0;
  transition: opacity 0.75s;
  background-color: wheat;
  color: black;
  width: 70vw;
  height: 20vh;
  font-weight: bold;
}

.item.visible {
  opacity: 1;
}

.sushi-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffb900;
}

.scene {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  background: transparent;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.btn {
  background-color: black;
  color: wheat;
  width: 130px;
  height: 40px;
  border: none;
  font-weight: bolder;
  margin: 15%;
}

.btn:hover {
  background-color: #ffb900;
  border: solid white;
  color: black;
  font-weight: bolder;
}


.proj-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding:10%;
}


.proj-card{
  flex:1;
  border: solid wheat;
}

.proj-control{
  flex:1;
  border:solid wheat;
}


.slider{
    width: 100%;
     margin: 0 auto;
      /* Optional: add some spacing between slides */
}


.slide{
  background: #ffb900;
    width: 100%;
    height: 60vh;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-wrapper > .header{
  font-size: 4rem;
}

.header-hover{
  text-align: center;
    font-size: 4rem;
  background-color: black;
  color: wheat;
  padding: 10px 40px;
  margin: 0px 60px;
}


.nav-list{
  position:relative;
    z-index: 9999;
      width: 100vw;
background: #ffb900;
  color: black;}

.form-wrapper{
    padding: 5% 2% 0;
      background: whitesmoke;
  width: 100%;

}


.social-list{
  border-top: solid black;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  padding:2% 0% 3% 0%
}

.submit-btn{
  background: #afafaf;
    width: 130px;
    height: 40px;
    border: none;
    font-weight: bolder;
}

.submit-btn:hover{
  background-color: #ffb900;
  border: #2d2614;
}

.sushi-fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sushi-fade-enter-active {
  opacity: 1;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffb900;
}

.intro-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.intro-description {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 80%;
}

.logos{
  display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

.form-wrap{
display: flex;
 
  align-items: flex-start;
  height:80vh;
  justify-content: center;
}

.dialog{
  display: flex;
    justify-content: center;
    background: #ffb900;
   
}

.submitted-message{
  display: flex;
  flex-direction: column;

}

.submitted-message > button{
  background: black;
    border: none;
    cursor: pointer;
    outline: inherit;
    color: white;
    padding: 3% 0;
}
.ueats {
  width: 40%;
  height: 70vh;
  margin: 2%;
  display: none;
  /* hide by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid black;
}


.nav-open{
  max-width: 50%;
}


.nav-links > a{
  text-decoration: none;
  font-weight: bolder;
}

.resume-btn{
  background: none;
    border: none;
        font: inherit;
    cursor: pointer;
    outline: inherit;
    color: black;
      padding: 3% 0;
}
.resume-btn:hover{
  color: #ffb900;
}

.resume{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.social-icons:hover{
  color: #ffb900;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  gap:10px;
  width: 80%;
      font-size: 1.5rem;
      text-align: center;
}

.links-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  text-decoration: none;
  width: 50%;
  border-left: solid black;
}

.link-icon{
  color: black;
}

.technology-icons{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    width: 50%;
}
.icons-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.project-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title > h1 {
    font-size: 3rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .ueats {
    display: flex;
    /* show only when screen width is 768px or greater */
  }

    
    .slide {
      background: #ffb900;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      height: 50vh;
      border: solid black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      
    }

    
    .icons-wrapper{
      margin-top: 50px;
    }

    .info > h4{
      margin-bottom: 30px;
    }

    .portfolio-wrapper{
        font-size: 1.5rem;
    }


}

@media (max-width: 767px) {
  .resume-img {
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
  }
}
