*{
  box-sizing: border-box;
  margin: 0;
font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.links{
  list-style: none;
}

#home, #contact, #intro, #portfolio{
  width: 100vw;
  height: 100vh;
}

/* nav */
.nav{
  display: flex;
  justify-content: space-between;
  z-index: 1;
}


.start-wrapper{
  background: black;
  width:100vw;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

